<nav class="navbar navbar-light bg-dark">
    <a href="/" class="navbar-brand">
        <img src="/img/49144.svg" alt="">
    </a>
    <a href="/perguntar" class="btn btn-light">Perguntar</a>
    <a href="/perguntar" class="btn btn-light">Perguntar</a>
    <a href="/perguntar" class="btn btn-light">Perguntar</a>
</nav>